body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #FFFFFF;
  --color-lightgray-100:#979797;
  --color-lightgray-200: #0E4DA4;
  --color-darkgray: #263238;
  --color-silver: #bbbbc5;
  --color-whitesmoke: #1BB55C;
  --color-gray:#FFBB12;

  /* border radiuses */
  --br-41xl: 60px;
  --br-xl: 20px;
  --br-103xl: 122px;
  --br-91xl: 110px;
  --br-11xl: 30px;
}
